#AWS CREDENTIALS
export AWS_ACCESS_KEY_ID="ASIAQZ5DTLYWENN3KEBI"
export AWS_SECRET_ACCESS_KEY="4BlW/R/cPjTPaW0GWoG2NKUfeTovnKOQHFmA8CWS"
export AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEI///////////wEaCXVzLWVhc3QtMSJHMEUCIQD6aiNCgN5cl24M1xvPsP+tfFtxdXxuP1j2TPur96BOewIgPTp666/yE3pa0Cvwf8/YMIY6TV2G68cnIXhn9PBnVxsq9wIIaBABGgwwNTU2NDA4MDkwMDQiDNksNpxcsF/ET029tyrUAqIFuojGMe5Bte0fxhAbae1dmfD2p3MpzpTbEY36eqlzuKRX7qoqg95+T6H+8QqMnNAuN1g6lP7McseMga2aKwsdE/HY39TXcZyJA+z3Asi8IdcY39ohTotAJ509hduCIdS/mTnQiBnvm7tNO3qxKXj9PEz0r2gtkBA5Y+hO51BIV3ww7W8q42wdTwOpiJ23naxAdCf26nd0H9T0SFm3/CRj509JfAF13Gl8R1mH0stfrGtwG1ONCOz3JoaxOLhIsrnEipfm1UaxS7h8pcPbPqQTMmkqCO7K62AZ0SQJHBIe8tBPz9puuyHh/djYFSugI258hn2yQqGUy/if07p8YIZF09D8AWMtY94cRYPapWDt8j+Lx/QCupyq45xlN3NnpqdXsATpVqWlf9hc52gKjhG2GHknNPqFcB2JDqEvO2qH/PE/vyzGkoAPzWb1IZwLs56k8pwwqpnHmgY6pwHTSjQBHHhC2tXyaUbI4m1Sw6SMhk/hi3PyP0Xht24uC+XIfy3IEa0c4jQCuyPs3AUhKukr0D+kLIZN56jBMV//4otsW5pHRqKhc3lTlI5A/Zy+M/i7ipdKLNSWn0RfPJx6iEKT4rmSAG/a9KXezVQAKMgZ6j6uWh2YN4DgI/AQFDJzlTHDyP6w5zbGunsdkCRYszhGazBK/HPPz15MMcQjnQsEIoUm9w=="

#AWS CONFIG
export AWS_VPC_ID="vpc-0fcf208e6ecec4037"
export AWS_LB_NAME="developersnet-edfi-shared-elb"
export AWS_AUTOSCALING_MIN=2
export AWS_AUTOSCALING_MAX=10
export AWS_AUTOSCALING_CPU=75


#VERSIONS
export MINVERSION="5.3.232"
export MINTPDMVERSION="5.3.77"
export ADMIN_VERSION="5.3.154"
export SECURITY_VERSION="5.3.152"
export ADMINAPP_DATABASE_VERSION="2.3.2"

#COMMON
export TAG=v2
export ENCRYPTION_KEY="r2bemkTvjsRURdur0+c49eaON140QRkQzgQwPdht8Lk="
export LOGS_FOLDER="/tmp/logs"
export HEALTHCHECK_TEST="wget --no-verbose --tries=1 --spider http://localhost || exit 1"

#DB
export POSTGRES_USER=postgres
export PGPASSWORD=postgres1
export POSTGRES_PASSWORD=postgres1
export POSTGRES_DB=postgres
export ODS_DB=EdFi_Ods
export POSTGRES_PORT=5432
export ODS_POSTGRES_HOST=developersnet-edfi-shared-ods-rds.ckljvufeppno.us-east-1.rds.amazonaws.com
export ADMIN_POSTGRES_HOST="${ODS_POSTGRES_HOST}"


#ODS
export API_MODE="SharedInstance"
export ApiSettings__PathBase="api"
export TPDM_ENABLED=true
export API_INTERNAL_URL="http://developersnet-edfi-shared-elb-1258834677.us-east-1.elb.amazonaws.com"
export ODS_VIRTUAL_NAME="api"
export API_HOSTNAME="developersnet-edfi-shared-elb-1258834677.us-east-1.elb.amazonaws.com"
export API_EXTERNAL_URL="http://developersnet-edfi-shared-elb-1258834677.us-east-1.elb.amazonaws.com"

export API_HEALTHCHECK_TEST="wget --no-verbose --tries=1 --spider http://localhost || exit 1"

#SWAGGER
export MINIMAL_KEY=minimal
export MINIMAL_SECRET=minimalSecret
export POPULATED_KEY=populated
export POPULATED_SECRET=populatedSecret
export DOCS_VIRTUAL_NAME=docs
export SWAGGER_HEALTHCHECK_TEST="wget --no-verbose --tries=1 --spider http://localhost:8081 || exit 1"

#ADMIN
export ADMIN_USER="admin@test.com"
export ADMIN_PASSWORD=Admin1
export SANDBOX_ADMIN_VIRTUAL_NAME=sandboxadmin
export ADMINAPP_VIRTUAL_NAME=adminapp
export ADMINAPP_HEALTHCHECK_TEST="wget --no-verbose --tries=1 --spider http://localhost:8082 || exit 1"